/* general styling */

html {
    font-size: 16px;
    font-family: 'Major Mono Display', monospace;
    background-color: black;
    color:lightgrey;
    text-align: center;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* element styling */

#landing, #button, #fortune {
    margin-top: 7rem;
}

#landing {
    width: 100%;
}

#button {
    background-color: rgb(60, 61, 65);
    color: lightgrey;
    padding: 1rem;
    font-size: 1rem;
    font-family: 'Major Mono Display', monospace;
}

#button:hover {
    transition: 0.5s;
    background-color: rgb(41, 43, 46);
}

#fortune {
    display: none;
    white-space: pre-line;
    line-height: 2;
    padding: 0 10rem;
}