/* general styling */

html {
    font-size: 16px;
    font-family: 'Major Mono Display', monospace;
    background-color: black;
    color:lightgrey;
    text-align: center;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* element styling */

.wrapper {
    padding-top: 7rem;
    width: 100%;
}

#button {
    background-color: rgb(60, 61, 65);
    color: lightgrey;
    padding: 1rem;
    font-size: 1rem;
    font-family: 'Major Mono Display', monospace;
}

#button:hover {
    transition: 0.5s;
    background-color: rgb(41, 43, 46);
}

#fortune-wrapper {
    display: none;
}

#fortune {
    white-space: pre-line;
    line-height: 1.5;
    padding: 0 15%;
}

@media only screen and (max-width: 580px) {
    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1.2rem;
    }

    #button {
        font-size: 1.2rem;
    }
    
    .wrapper {
        padding-top: 4rem;
    }
}