/* general styling */

html {
    font-size: 16px;
    font-family: 'Major Mono Display', monospace;
    background-color: black;
    color:lightgrey;
    text-align: center;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* twinkling background styling */

.stars, .twinkles, .clouds {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
}

@keyframes move-twinkles {
    from {background-position: 0 0;}
    to {background-position: -10000px 5000px;}
}

@keyframes move-clouds {
    from {background-position: 0 0;}
    to {background-position: 10000px, 0;}
}

.stars {
    background: black url('media/stars.png') repeat top center;
    z-index: 0;
}

.twinkles {
    background: transparent url('media/twinkles.png') repeat top center;
    z-index: 1;
    animation: move-twinkles 200s linear infinite;
}

.clouds {
    background: transparent url('media/clouds.png') repeat top center;
    opacity: .5;
    z-index: 2;
    animation: move-clouds 200s linear infinite;
}


/* element wrapper styling */

#content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-evenly;
    position: relative;
    z-index: 3;
}

.wrapper {
    width: 100%;
}


/* Content styling */

h1 {
    font-size: 2rem;
    z-index: 3;
}

p {
    z-index: 4;
}

button {
    z-index: 5;
}


/* Spacing for top and bottom of site */

#intro {
    padding-top: 20vh;
}

#foot {
    padding: 0 10vw 30vh 10vw;     
}


/* Set fortune as not visible, change through JS */

#fortune {
    display: none;
    min-height: 9rem;
    flex-direction: column;
    justify-content: center;
}

#fortune-text {
    white-space: pre-line;
    line-height: 1.5;
    padding: 0 15vw;
}


/* Button styling */

#button {
    background-color: rgb(60, 61, 65);
    color: lightgrey;
    padding: 1rem;
    font-size: 1rem;
    font-family: 'Major Mono Display', monospace;
}

#button:hover {
    transition: 0.5s;
    background-color: rgb(41, 43, 46);
}


/* Vertical styling adjustments */

@media only screen and (max-height: 900px) {
    #intro {
        padding-top: 15vh;
    }

    #foot {
        padding: 0 10vw 15vh 10vw;     
    }
} 

@media only screen and (max-height: 450px) {
    #intro {
        padding-top: 10vh;
    }

    #foot {
        padding: 0 10vw 10vh 10vw;     
    }
} 


/* Horizontal styling adjustments */ 

@media only screen and (max-width: 650px) {
    #fortune {
        min-height: 14rem;
    }
}

@media only screen and (max-width: 580px) {
    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1.25rem;
    }

    #fortune-text {
        padding: 0 5vw;
    }

    #button {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 450px) {
    #fortune {
        min-height: 20rem;
    }
}

@media only screen and (max-width: 350px) {
    h1 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }
}